/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f4f4f4; /* Temporary background so we can see the edges */
}

#root {
  width: 100%;
  max-width: 100%; /* Overrides Vite's default 1280px lock */
}